<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4"><%= changeTitle %></h1>

  <p class="py-3">
    <%= changeMessage %>
  </p>
  <div class="row mt-3 mb-3">
    <div class="col-auto">
      <a href="/profile" class="btn btn-primary" role="button">Return to Profile</a>
    </div>
  </div>

<%- include('partials/footer') -%>
